<div class="invite-container">
  <div>
  <h1>Invitations:</h1>
  </div>
  <%  @invites.each do |invite| %>
    <div class="invite-card">
    <%= link_to user_event_invite_path(@user, @event, invite) do %>
      <h4><%= invite.message %></h4> 
    </div>
    <% end %>
  <% end %>
  <div class="container">
    <%= link_to "back home!", root_path, class:"btn btn-primary", style:"margin-right:30px" %>
    <%= link_to 'back to users', users_path,  class:"btn btn-primary"  %>
    </div>
</div>