<%  @invites.each do |invite| %>
    <%#= if invite.events_users.event = @event_id %>
  <%= link_to user_event_invite_path(@user, @event, invite) do %>
    <div class="d-flex my-3 align-items-center">
      <h5><%= invite.message %></h5> 
    </div>
   <% end %>
<%# end %>
<% end %>