<div class="container">
  <% if params[:group] %>
    <%= render 'form2', user: @user, group: @group %>
  <% else %>
    <%=  render 'form', user: @user, event: @event %>
  <% end%>
</div>

<%= console %>
