.group-grid-container{
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1vw;
  grid-template-areas: 
  "group-show-side group-show-data group-chat group-people-coming"
  "group-show-side group-event-picture group-chat group-people-coming"
}

.group-grid-container::-webkit-scrollbar {
  display: none;
}
.group-show-data::-webkit-scrollbar {
  display: none;
}
.group-chat::-webkit-scrollbar {
  display: none;
}
.group-event-picture::-webkit-scrollbar{
    display: none;
}

.group-people-coming::-webkit-scrollbar{
  display: none;
}
.group-show-data{
  padding: 20px;
  display: flex;
  flex-direction: column;
  grid-area: group-show-data;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  overflow-y: scroll;

}
.group-show-data-inline{
  display: flex;
  margin-bottom: 20px;

  .icon{
    width: 15%;
    text-align: center;
  }
  .text{
    width: 95%;
    text-align: left;
  }
}

.group-title{
  text-align: left;
  margin-bottom: 30px;
}






.group-event-picture{
  // position: absolute;
    grid-area: group-event-picture;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
    img{
      border-radius: 12px;
      height: 100%;
      width: 100%;
      object-fit:cover;
    }
}

.group-people-coming{
  // position: absolute;
    grid-area: group-people-coming;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    padding: 10px;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;

    .group-people-card {
      margin:5px;
      height: 100px;
      padding: 10px 10px;
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.1);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(8px);
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .group-people-card img{
      height: 80px;
      width: 80px;
      object-fit: cover;
      margin-top: 5px;
      border-radius: 10px;
      margin-right: 10px;
    }

    .group-people-card-det{
      overflow: hidden;
    }
}

.group-show-side{
  grid-area: group-show-side;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  // padding: 10px;
}

.group-event-picture img {
    border-radius: 12px;
  }




.group-chat{
  overflow: hidden;
  grid-area: group-chat;
  border-radius: 15px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
}

.chatroom-input{
  height: 8%;
  padding-top:10px;
}

.chatroom{
  height: 92%;
  overflow-y: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message-card{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message-card img{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 8px;
  align-items: top;

}
.message-card-det{
  overflow: hidden;
  padding-left: 5px;
  overflow-y: scroll;
  overflow: hidden;
}
  
.message-card::-webkit-scrollbar{
  display: none;
}

.message-card-det::-webkit-scrollbar{
  display: none;
}

.chatroom::-webkit-scrollbar{
  display: none;
}

.chatroom-input::-webkit-scrollbar{
  display: none;
}




@media only screen and (max-width: 650px) {
  .group-grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    overflow-y: scroll;
    grid-template-areas: 
    "group-event-picture"
    "group-show-data"
    "group-chat"
    "group-people-coming"
  }
}

