.group-card{
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  flex-grow: 1;
  margin: 30px 10px 10px 30px;
}

.chat-area{
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  flex-grow: 1;
  width: 300px;
  margin: 30px 30px 10px 10px;
}

.group-show{
  display: flex;
  justify-content: center;
}

.main-grid-container{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
  padding: 20px;
}
.child-grid{
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;  // flex-grow: 1;
  // margin: 30px 10px 10px 30px;
}

.child-grid-1{
  grid-column: span 2 / span 2;
}

.child-grid-2{
grid-column: span 3 / span 3;
}

.child-grid-tall{
  height: 500px;
}

.child-grid-short{
  height: 220px;
}