.group-grid-container{
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1fr 1.5fr 0.8fr;
  grid-template-rows: 1.5fr 1fr;
  grid-gap: 1vw;
  grid-template-areas: 
  "group-show-side group-show-data group-chat group-people-coming"
  "group-show-side group-event-picture group-chat group-people-coming"
}

.group-grid-container::-webkit-scrollbar {
  display: none;
}
.group-show-data::-webkit-scrollbar {
  display: none;
}
.group-chat::-webkit-scrollbar {
  display: none;
}
.group-event-picture::-webkit-scrollbar{
    display: none;
}

.group-people-coming::-webkit-scrollbar{
  display: none;
}
.group-show-data{
  // position: absolute;
  grid-area: group-show-data;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  overflow-y: scroll;
}

.group-chat{
  // position: absolute;
  overflow: hidden;
  grid-area: group-chat;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
}

.chatroom{
  padding: 10px 10px;
  height: 92%;
  overflow-y: scroll;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatroom-input{
  position: absolute;
  height: 8%;
  width: 98%;
  margin:5px;
  padding: 10px 10px;
  bottom: 10px;
}

.chat-message-user{
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin:5px;
  padding: 10px 10px;
  text-align: left;
}

.chat-message-not-user{
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin:5px;
  padding: 10px 10px;
  text-align: right;
}

.chatroom::-webkit-scrollbar{
  display: none;
}

.chatroom-input::-webkit-scrollbar{
  display: none;
}

.group-event-picture{
  // position: absolute;
    grid-area: group-event-picture;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    width: 100%;
}

.group-people-coming{
  // position: absolute;
    grid-area: group-people-coming;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    overflow-y: scroll;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .group-people-card {
      border-radius: 50%;
      padding-left: 5px;
      margin-top: 20px;
      padding-top: 20px;
      display: flex;
      height: 280px;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      overflow-y: scroll;
      overflow: hidden;
    }

    .group-people-card img{
      border-radius: 50%;

    }

}

.group-show-side{
  grid-area: group-show-side;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  // padding: 10px;
}

.group-event-picture img {
    border-radius: 12px;
  }

@media only screen and (max-width: 650px) {
  .group-grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    overflow-y: scroll;
    grid-template-areas: 
    "group-event-picture"
    "group-show-data"
    "group-chat"
    "group-people-coming"
  }
}

