// Import page-specific CSS files here.
@import "home";
@import "invites";
@import "user-index";
@import "user-show";
@import "event-index";
@import "event-show";
@import "group-show";
@import "invite-new";
@import "error";

a {
  text-decoration: none;
  color: white;
  :hover {
    text-decoration: none;
    color: black;
  }
}

body{
  text-decoration: none;
  color: white;
}
a:link, a:visited {
  text-decoration: none;
  color: white;
}
a:link{
  text-decoration: none!important;
  cursor: pointer;
  color: white;
}