.show-container{
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.event-image{
    height: 100%;
    width: 50%;
}
.dance-img{
    height: 100%;
    width: 100%;
    border-radius: 5px 275px 5px;
}
.event-wrapper{
    height:100%;
    width:50%;
    margin-left: 16px;
}
.event-info{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-container{
    position: absolute;
    bottom: 0;
}

.centered-container{
    margin: 0 auto;
    height: 80vh;
    width: 80vw;
    div{
        text-align: center;
        width: 60%;
        height: 65%;
        margin: 0 auto;
    }
}
