.users-index-main{
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "user-index-side users-grid users-map";
}

.users-index-main::-webkit-scrollbar {
  display: none;
}

.user-index-side{
  grid-area: user-index-side;
  border-radius: 15px;
  // background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  // backdrop-filter: blur(8px);
}
.users-grid{
  grid-area: users-grid;
  overflow-y: scroll;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.users-grid::-webkit-scrollbar {
  display: none;
}

.card-user{
  margin-bottom:8px;
  padding: 10px;
  height: 100px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;

  img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 10px;
  }

  .card-user-infos{
    color: white;
    padding-left: 25px;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2.4fr 1.8fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "name role level" 
    "status style level" 
  }

  .card-user-infos p{
    margin-bottom: 0px;
  }
  .card-user-infos a{
    margin-bottom: 0px;
  }
  .card-user-infos h2{
    margin-bottom: 0px;
    // font-size: 100%;
  }

  img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 10px;
  }

  .card-user-infos-role{
    grid-area: role;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .card-user-infos-status{
    grid-area: status;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .card-user-infos-name{
    grid-area: name;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .card-user-infos-style{
    grid-area: style;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .card-user-infos-level{
    grid-area: level;
    text-align: center;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    .lev{
      font-size: 200%;
    }
    p{
      position: relative;
      top: -10px;
    }
  }

  .status-text{
    margin: 0;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: lighter;
  }
}

.users-map{
  position: absolute;
  margin: 0 2vw 10px 0;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(8px);
  grid-area: users-map;
  margin-right: 16px;
}

@media only screen and (max-width: 650px) {
  .users-index-main{
    position: absolute;
    overflow-y: scroll;
    height: 98%;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    "user-index-side" 
    "users-grid";
  }

  .user-index-side{
    overflow-y: visible;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .users-grid{
    overflow-y: visible;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .users-map {
    visibility: hidden;
    width: 0;
   }
}