.none {

}

.buddies-available{

}

.users-index-main{
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "user-index-side users-grid users-map";
}

.users-index-main::-webkit-scrollbar {
  display: none;
}


.user-index-side{
  grid-area: user-index-side;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
}
.users-grid{
  grid-area: users-grid;
  padding: 10px;
  overflow-y: scroll;
  position: absolute;
  height: 100%;
  width: 100%;
}

.users-grid::-webkit-scrollbar {
  display: none;
}

.card-user{
  margin:5px;
  height: 100px;
  padding: 10px 10px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  z-index: 10;

  img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .card-user-infos{
    padding: 30px;
    margin: 30px;
    color: white;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
    
  img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  h2 {
    font-size: 22px;
    text-decoration: none;
    color: white;
  }
  p {
    margin: 0;
    font-size: 14px;
  }
}

.card-user-infos{

}

.users-map{
  position: absolute;
  margin: 0 2vw 10px 0;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(8px);
  grid-area: users-map;
  margin-right: 16px;
}

.popup{
  border-radius: 20px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, 0.603)
}
.modal-backdrop {
  z-index: -12;
  backdrop-filter: blur(8px) saturate(151%);
}
.modal-button{
  padding: 0px 10px 5px;
  height: calc(20px+3vw);
  color: rgb(68, 68, 68);
  font-size: 2vh;
  background-color: rgba(255, 255, 255, 0.479);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 12px;
  margin: 5px ;
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  .users-index-main{
    position: absolute;
    overflow-y: scroll;
    height: 98%;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    "user-index-side" 
    "users-grid";
  }

  .user-index-side{
    overflow-y: visible;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .users-grid{
    overflow-y: visible;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .users-map {
    visibility: hidden;
    width: 0;
   }
}