<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  <a href="https://github.com/Jacek-Jan-Nowak">Jacek</a>
  <a href="https://github.com/anadamastor">Ervis</a>
  <a href="https://github.com/michaelbarrett343">Mike</a>
  <a href="https://github.com/David781978">David</a>
  </div>
</div>