<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "find a buddie!", users_path, class:"btn btn-primary" %>
<%= link_to "find events!", events_path, class:"btn btn-primary" %>
