#particles-js {
  position: absolute;
  z-index: -100;
  background: rgb(51,17,51);
  // background: linear-gradient(209deg, rgba(51,17,51,1) 19%, rgba(79,52,0,1) 100%);
  width: 1900px;
  height: 1000px;
}