.navbar-lewagon {
  justify-content: space-between;
  background: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-card {
  background-color: rgba(255, 255, 255, 0.055);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.nav-item p{
  color: white;
  text-decoration: none;
  margin: 0;
}

.navbar-nav {
  align-items: center;
  margin-right: 0;
}